@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}

p br {
    display: none;
}

html {
    font-family: "Poppins";
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
}

body {
    background-color: hsl(0, 0%, 98%);
}

main {
    min-height: 100vh;
}

section {
    width: 85%;
    margin-inline: auto;
    color: hsl(229, 6%, 66%);
    padding-block: 5rem 4rem;
    text-align: center;
}

h1, h2 {
    color: hsl(234, 12%, 34%);
}

h1 {
    line-height: 1.4;
    margin-block-end: 1.2rem;
}

.light {
    font-weight: 200;
}

section .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section > .container {
    margin-block-start: 5rem;
}

article {
    text-align: left;
    box-shadow: 0 8px 16px hsl(226, 31%, 84%);
    border-radius: 4px;
    padding: 2rem;

    & p {
        margin-block: 0.6rem 1.5rem;
    }

    & img {
        margin-inline-start: auto;
    }
}


.cyan {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.red {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.orange {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.blue {
    border-top: 4px solid hsl(212, 86%, 64%);
}

@media screen and (width >= 600px ) {
    section {
        width: 100%;
        padding: 2rem;
    }

    section > .container {
        align-items: center;
    }

    p br {
        display: block;
    }

    article {
        max-width: 400px;
    }
}

@media screen and (width >= 960px ) {
    section {
        max-width: 1100px;
    }
    section > .container {
        flex-direction: row;

        & > * {
            flex: 1 1 32%;
        }
    }

    
}